<!DOCTYPE html>
<html lang="en">
  <head>
  	<script src="lib/angular.min.js"></script>
  	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags 
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">-->
    
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1522988117993830',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- share -->
	<meta property="fb:app_id" content="1522988117993830"/> 
	<meta property="og:url" content="http://mytime.getsir.mx/cost.html"/>
	<meta property="og:type" content="article" />
	<meta property="og:description" content="A tool that allows know how to estimate time for tasks using Project Evaluation and Review Techniques." />
	<meta property="og:site_name" content="My PERT" />
	<meta property="og:title" content="My PERT: How to estimate the cost of your projects?"/>
	<meta property="og:image" content="http://mytime.getsir.mx/images/money.jpg" />
	
	<!-- Twitter Summary Card -->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:site" content="@getsir">
	<meta name="twitter:creator" content="@getsir"/>
	<meta name="twitter:url" content="http://mytime.getsir.mx/cost.html"/>
	<meta name="twitter:title" content="My PERT: How to estimate the cost of your projects??"/>
	<meta name="twitter:description" content="A tool that allows know how to estimate time for tasks using Project Evaluation and Review Techniques."/>
	<meta name="twitter:image" content="http://mytime.getsir.mx/images/money.jpg"/>
	
    <title>Cost-Any-Project</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" ng-app="projectprice" ng-controller="ProjectPriceCtrl" >
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68054907-3', 'auto');
  ga('send', 'pageview');

</script>


<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCNzaBX7mD-0aRlUXkvplo40sEeybmnFcE",
    authDomain: "projectprice-d71fc.firebaseapp.com",
    databaseURL: "https://projectprice-d71fc.firebaseio.com",
    storageBucket: "projectprice-d71fc.appspot.com",
  };
  firebase.initializeApp(config);
</script>
    
    

	<div ng-repeat="quatation in quatations">
	<br><br>
	 <input type="text" class="form-control" placeholder="Name stage" aria-describedby="basic-addon1" value=' {{quatation.name}}' ng-change="changeModel()" ng-model='quatation.name'>
	 <input type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1" value=' {{quatation.description}}' ng-change="changeModel()" ng-model='quatation.description'>
	 <button type="button" class="btn btn-xs btn-danger" ng-click="addStage(quatation)">Add stage</button>
	 
		 
		<br>
		<div ng-repeat="etapa in quatation.etapas">
			<input type="text" class="form-control" placeholder="Etapa" aria-describedby="basic-addon1" value='{{etapa.name}}' ng-change="changeModel()" ng-model='etapa.name'>
				 <button type="button" class="btn btn-xs btn-danger" ng-click="addTask(etapa)">Add Task</button>
			
		
			<div ng-repeat="tarea in etapa.tareas">
				<input type="text" class="form-control" placeholder="Tarea" aria-describedby="basic-addon1" value=' {{tarea.name}}' ng-change="changeModel()" ng-model='tarea.name'>
			</div>
			<br>
		
		</div>
	
	
	</div>
	
	
 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/projectprice.js"></script>
    <script src="js/ProjectPriceCtrl.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
	
	

</body>
</html>